.title {
    display: flex;
    justify-content: center;
}

.container {
    height: 95vh;
    overflow-y: scroll;
    padding-left: 10vw;
    padding-right: 10vw;
}

.activity {
    border-style: solid;
    border-color: darkgreen;
    border-radius: 7px;
    margin: .5em;
    padding: .5em;
    box-shadow: 10px 10px 5px lightblue;
    background-color: lightblue
}