.container {
    height: 95vh;
    overflow-y: scroll;
    padding-left: 10vw;
    padding-right: 10vw;
}

.title {
    display: flex;
    justify-content: center;
}

.select {
    width: 50vw;
    overflow-y: scroll;
}

.option {
    width: 50vw;
    overflow-y: scroll;
    text-overflow: ellipsis;
    position: relative;
}

.cdInputs {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 50vw;
    margin: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Link {
    margin-top: 1em;
    color: rgb(224, 221, 221);
    border-style: solid;
    border-width: .5px;
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Link:hover {
    background-color: rgb(224, 221, 221);
}

.words {
    display: flex;
    justify-content: center;
    margin: none;
    color: black;
}