.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding-left: 1em;
    padding-right: 1em;
}

.logout {
    color: aliceblue;
    cursor: pointer;
}

.title {

    color: rgb(226, 242, 249);
    text-shadow: 2px 2px 4px #000000;

}