.title {
    display: flex;
    justify-content: center;
}
.activities {
    border-top: solid;
    border-color: lightgreen;
    margin-bottom: 1em;
}
.container {
    height: 100vh;
    overflow-y: scroll;
    padding-left: 15vw;
    padding-right: 15vw;
}
.routine {
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 7px;
    margin: .5em;
    padding: .5em;
    box-shadow: 10px 10px 5px lightblue;
    background-color: lightblue;
}